html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dowPicker {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 0 0;
    .dowPickerOption {
        display: inline-block;
        input [type=checkbox]{
            display: none;
        }
        label {
            font-size: 50px;
            color: #A7A7A7;
            cursor: pointer;
        }
        input[type=checkbox]:checked ~ label {
            color: #464646;
            font-weight: 500;
        }
    }
}