
<div class="daySchedule">
    <div class="dayOption">
        <input type="checkbox" id="sunday" />
        <label for="sunday">S</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="monday" />
        <label for="monday">M</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="tuesday" />
        <label for="tuesday">T</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="wednesday" />
        <label for="wednesday">W</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="thursday" />
        <label for="thursday">T</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="friday" />
        <label for="friday">F</label>
    </div>
    <div class="dayOption">
        <input type="checkbox" id="saturday" />
        <label for="saturday">S</label>
    </div>    
</div>