@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p id="replacethis">Welcome to the HTMX Test app for my Reminders API</p>

<button hx-get="Reminder/GetReminders" hx-swap="outerHTML">Reminders</button>