@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <button 
            hx-get="./Reminders"
            hx-target="#remindersTable">
            View Reminders
        </button>
    </p>
</div>

<div>
    <div id="remindersTable"></div>
</div>
<div>
    <div id="editDialog"></div>
</div>

